<launch>
    <arg name="map_size_x"                     value="5.0"/>
    <arg name="map_size_y"                     value="5.0"/>
    <arg name="map_size_z"                     value="2.5"/>
    <arg name="resolution"                     value="0.05"/>
    
    <include file="$(find global_map_generator)/launch/global_map_gen.launch">
        <arg name="map_size_x"               value="$(arg map_size_x)"/>
        <arg name="map_size_y"               value="$(arg map_size_y)"/>
        <arg name="map_size_z"               value="$(arg map_size_z)"/>
        <arg name="resolution"               value="$(arg resolution)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mockamap)/config/rviz.rviz" /> <!-- Launch RViz with the demo configuration -->
</launch>
