<launch>
    <arg name="map_size_x"                     default="5.0"/>
    <arg name="map_size_y"                     default="5.0"/>
    <arg name="map_size_z"                     default="2.5"/>
    <arg name="resolution"                     default="0.05"/>
    
    <include file="$(find global_map_generator)/launch/global_map_gen.launch">
        <arg name="map_size_x"               value="$(arg map_size_x)"/>
        <arg name="map_size_y"               value="$(arg map_size_y)"/>
        <arg name="map_size_z"               value="$(arg map_size_z)"/>
        <arg name="resolution"               value="$(arg resolution)"/>
    </include>

    <include file="$(find local_sensing)/launch/local_sensor_base.launch">
        <arg name="sensing_horizon"                     value="3.5"/>
        <arg name="sensing_rate"                        value="30.0"/>
        <arg name="map_size_x"                          value="$(arg map_size_x)"/>
        <arg name="map_size_y"                          value="$(arg map_size_y)"/>
        <arg name="map_size_z"                          value="$(arg map_size_z)"/>
        <arg name="global_map_topic"                    value="/global_map"/>
        <arg name="local_map_topic"                     value="local_map"/>
        <arg name="camera_odometry_topic"               value="cam_odom"/>
    </include>

</launch>